<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spy.szse.svc.mapper.szse.NodeTableMapper">
    <select id="getById" resultType="com.spy.szse.domain.entity.NodeTable">
        SELECT * FROM node_table where id =#{id}
    </select>
    <!--获取产品树-->
    <select id="getProductAll" resultType="com.spy.szse.domain.entity.NodeTable">
        SELECT NAME,CODE,parent,LEVEL,source,version_id,sequence
        FROM node_table
        WHERE STATUS=1
    </select>
    <!--根据关键字查询产品-->
    <select id="getProductByKeyword" resultType="com.spy.szse.domain.entity.NodeTable">
        SELECT *
        FROM node_table
        WHERE CODE LIKE #{code} OR NAME LIKE #{name} AND status=1
    </select>
</mapper>


