<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spy.szse.svc.mapper.szse.RelationshipTableMapper">
    <select id="getRelationship" resultType="com.spy.szse.domain.entity.RelationshipTable">
        SELECT *
        FROM relationship_table
        WHERE
    </select>
</mapper>